@model UCP1_PAW_123_A.Models.TblPenjualan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblPenjualan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TglKwitansi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TglKwitansi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPelangganNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPelangganNavigation.IdPelanggan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NoKwitansi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
